/* // This applies from 0px to 600px
body {
  background: red;
}

// This applies from 600px onwards
@media (min-width: 600px) { */
  body {
    background: green;
  }
  *    {
  	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
  }
  .top-banner {
    display: flex; /* Or inline-flex */
    height: 300px;
    justify-content: center;
    align-items: center; 
  	color: #fff;
  	background-color: #5995DA; /* Blue */
  	padding: 20px 0;

}
